@font-face {
	font-family: "Yekan Bakh FaNum";
	src: url("../fonts/YekanBakh/YekanBakhFaNum-Black.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Yekan Bakh FaNum";
	src: url("../fonts/YekanBakh/YekanBakhFaNum-Bold.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Yekan Bakh FaNum";
	src: url("../fonts/YekanBakh/YekanBakhFaNum-ExtraBlack.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Yekan Bakh FaNum";
	src: url("../fonts/YekanBakh/YekanBakhFaNum-ExtraBold.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Yekan Bakh FaNum";
	src: url("../fonts/YekanBakh/YekanBakhFaNum-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Yekan Bakh FaNum";
	src: url("../fonts/YekanBakh/YekanBakhFaNum-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Yekan Bakh FaNum";
	src: url("../fonts/YekanBakh/YekanBakhFaNum-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Yekan Bakh FaNum";
	src: url("../fonts/YekanBakh/YekanBakhFaNum-Thin.woff2") format("woff2");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "rokh";
	src: url("../fonts/Rokh/woff2/Rokh-Black.woff2") format("woff2");
	font-style: normal;
	font-weight: 900;
	font-display: swap;
}

@font-face {
	src: url("../fonts/Rokh/woff2/Rokh-Bold.woff2") format("woff2");
	font-family: "rokh";
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: "rokh";
	src: url("../fonts/Rokh/woff2/Rokh-ExtraBold.woff2") format("woff2");
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: "rokh";
	src: url("../fonts/Rokh/woff2/Rokh-ExtraLight.woff2") format("woff2");
	font-style: normal;
	font-weight: 200;
	font-display: swap;
}

@font-face {
	font-family: "rokh";
	src: url("../fonts/Rokh/woff2/Rokh-Light.woff2") format("woff2");
	font-style: normal;
	font-weight: 300;
	font-display: swap;
}

@font-face {
	font-family: "rokh";
	src: url("../fonts/Rokh/woff2/Rokh-Normal.woff2") format("woff2");
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: "rokh";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("../fonts/Rokh/woff2/Rokh-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "rokh";
	src: url("../fonts/Rokh/woff2/Rokh-SemiBold.woff2") format("woff2");
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: "rokh";
	src: url("../fonts/Rokh/woff2/Rokh-Thin.woff2") format("woff2");
	font-style: normal;
	font-weight: 100;
	font-display: swap;
}

@font-face {
	font-family: "rokh";
	src: url("../fonts/Rokh/woff2/Rokh-UltraBold.woff2") format("woff2");
	font-style: normal;
	font-weight: 800;
	font-display: swap;
}